<div>
    <h1>Loguearse</h1>
    <form id="loginFormulario" >
        <label>Email</label>
        <input name="email">
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>

<script src="/js/login.js"></script>