<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-4 my-auto">
            <form class="card card-body" id="formulario">
                <h1>Agregue un producto</h1>
                <input type="text" placeholder="Titulo producto" id="titulo">
                <input type="text" placeholder="Descripción producto" id="descripcion">
                <input type="text" placeholder="Precio producto" id="precio">
                <button class="btn btn-dark rounded-0">Enviar</button>
            </form>
        </div>
        <div class="col-md-8">
        </div>
        <div id="productos"></div>

    </div>
</div>
<script src ="./socket.io/socket.io.js"></script>
<script src="./js/realTimeProducts.js"></script>