<div>
    <h1>Regístrate</h1>
    <form id="formularioRegistro" >
        <label>Nombre</label>
        <input name="first_name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <label>Contraseña</label>
        <input type="password" name="password">
        <label for="">Roles</label>
         <select name="rol" id="rol">
            <option value="user">Usuario</option>
            <option value="admin">Administrador</option>
            <option value="premium">Premium</option>
        </select>
        <input type="submit">
    </form>
</div>

<script src="/js/register.js"></script>